<section 
style="min-height: 100vh;"
class="login">
    <app-header 
    [hidden]="checkout"
    imgSrc="assets/header.png"
    ></app-header>
    <!-- end header -->
    <div 
    [class.container]="!checkout"
    class="">
        <div 
        [class.row]="!checkout"
       >
            <div 
            [hidden]="checkout"
            class="col-md-2 col-lg-3"></div>
            <div 
            [ngClass]="{
                'col-md-8': !checkout,
                'col-lg-6': !checkout
            }"
           >
                <div>
                    <h2    [hidden]="checkout">انشاء حساب</h2>
                    <form 
                    [class.page]="!checkout"
                    (ngSubmit)="register(registerForm.value)"
                    [formGroup]="registerForm"
                    class="row">
                        <div class="col-lg-6 mb-3">
                            <div class="form-group ">
                                <label  >
                                     الأسم الأول <span class="redstar">*</span>
                                </label>
                                <input 
                                formControlName="fname"
                                type="text" class="form-control">
                                <p 
                                *ngIf="(registerForm.get('fname')?.errors!=null&&registerForm.get('fname')?.touched) || 
                                (registerForm.get('fname')?.errors!=null&&submited)"
                                class="text-danger my-1">
                                   لا يقل عن ثلاثة حروف
                                </p>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-lg-6 mb-3">
                            <div class="form-group ">
                                <label  >
                                    الأسم الأخير 
                                </label>
                                <input
                                formControlName="lname"
                                type="text" class="form-control">
                                <p 
                                *ngIf="(registerForm.get('lname')?.errors!=null&&registerForm.get('lname')?.touched) || 
                                (registerForm.get('lname')?.errors!=null&&submited)"
                                class="text-danger my-1">
                                لا يقل عن ثلاثة حروف
                                </p>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-lg-12 mb-3">
                            <div class="form-group ">
                                <label>رقم الهاتف</label>
                                <div class="d-flex align-items-center mb-2">
                                    <input 
                                    onKeyPress="if(this.value.length==8) return false;"
                                    min="1"
                                    formControlName="phone"
                                    type="number" class="form-control phonenumberRight">
                                    <input 
                                    value="965+" readonly class="form-control phonenumberLeft">
                                </div>
                                <p 
                                *ngIf="(registerForm.get('phone')?.errors!=null&&registerForm.get('phone')?.touched) || 
                                (registerForm.get('phone')?.errors!=null&&submited)"
                                class="text-danger my-2">
                                يبدأ رقم الهاتف ب 5 و لا يقل عن ثمانية أرقام
                                </p>
                                <p
                                *ngIf="showsendcode" 
                                style="cursor: pointer;font-size: 19px;"
                                (click)="sendOtb()"
                                class="mb-3 text-primary fw-bold">
                                    أرسال رمز التحقق
                                    <i 
                                    *ngIf="sendotbLoading"
                                    class="fas fa-circle-notch fa-spin"></i> 
                                </p>
                                <ng-container 
                                *ngIf="showVervication"
                                >
                                    
                                    <input type="text"
                                    [formControl]="verificationControl"
                                    placeholder="أدخل الرمز هنا"
                                    class="form-control">
                                    <!-- <p 
                                    *ngIf="(registerForm.get('confirmation_code')?.errors!=null&&registerForm.get('confirmation_code')?.touched) || 
                                    (registerForm.get('confirmation_code')?.errors!=null&&submited)"
                                    class="text-danger my-1">
                                        هذا الحقل مطلوب
                                    </p> -->
                                    <button
                                    style="cursor: pointer;"
                                    (click)="verifyCode()"
                                    class="mb-1 btn btn-primary my-1">
                                       أضغط هنا للتحقق 
                                       <i 
                                       *ngIf="verifyOtbLoading"
                                       class="fas fa-circle-notch fa-spin"></i> 
                                    </button>
                                    <div class="mt-3">
                                        <p class="mb-1 fw-bold"
                                        style="color:green;word-wrap: break-word;"
                                        >
                                           أدخل رمز التحقق المرسل الي 
                                           {{registerForm.get('phone').value}} 
                                           <bdi
                                           style="color:green"
                                           >965+</bdi>
                                         </p>
                                        <p 
                                        (click)="counterToEnable()"
                                        [ngStyle]="{
                                            'cursor':enable?'pointer':'no-drop'
                                        }"
                                        
                                        class="mb-1 text-primary">
                                         ({{counter}})  لم تتلقي الرمز ؟ أعد الأرسال مرة أخري
                                         <i 
                                         *ngIf="sendotbLoading"
                                         class="fas fa-circle-notch fa-spin"></i>  
                                          </p>
                                
                                    </div>
                                </ng-container>
                                
                           
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-lg-12 mb-3">
                            <div class="form-group ">
                                <label  >
                                     أنشاء كلمة مرور للحساب <span class="redstar">*</span>
                                </label>
                                <input
                                formControlName="password"
                                type="password" class="form-control">
                                <p 
                                *ngIf="(registerForm.get('password')?.errors!=null&&registerForm.get('password')?.touched) || 
                                (registerForm.get('password')?.errors!=null&&submited)"
                                class="text-danger my-1">
                                   لا يقل عن ست حروف
                                </p>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-lg-12 mb-3">
                            <div class="form-group ">
                                <label  >
                                     تأكيد كلمة المرور   <span class="redstar">*</span>
                                </label>
                                <input 
                                formControlName="password_confirmation"
                                type="password" class="form-control">
                                <p 
                                *ngIf="(registerForm.get('password_confirmation')?.value !== registerForm.get('password')?.value&&registerForm.get('password_confirmation')?.touched) || 
                                (registerForm.get('password_confirmation')?.value !== registerForm.get('password')?.value&&submited)"
                                class="text-danger my-1">
                                    كلمة المرور غير متطابقة
                                </p>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-lg-12 mb-3">
                            <div class="form-group d-flex">
                                <input  
                                formControlName="agree"
                                type="checkbox">
                                <label class="mx-1">
                                    <a 
                                    style="text-decoration:underline !important"
                                    class="text-primary"
                                    routerLink="/conditions">
                                        أوافق علي الشروط والأحكام وسياسة الخصوصية
                                    </a>
                                </label>

                            </div>
                            <p 
                            *ngIf="(registerForm.get('agree')?.value!=true&&registerForm.get('agree')?.touched) || 
                            (registerForm.get('agree')?.value!=true&&submited)"
                            class="text-danger my-1">
                                هذا الحقل مطلوب
                            </p>
                        </div>
                        <div class="col-lg-12">
                            <button 
                            [disabled]="registerLoading"
                            class="bluButton submitinput w-100 text-center">
                                أنشاء حساب
                                <i 
                                *ngIf="registerLoading"
                                class="fas fa-circle-notch fa-spin"></i>  
                            </button>
                        </div>
                        <div 
                        *ngIf="!checkout"
                        class="my-1">
                            <a 
                            style="text-decoration: underline !important;"
                            class="text-primary"
                            routerLink="/auth/login">
                               تسجيل الدخول
                            </a>
                        </div>  
                        <div 
                
                        *ngIf="checkout"
                        class="my-1">
                            <a 
                            style="text-decoration: underline !important;cursor: pointer;"
                            class="text-primary"
                            (click)="emitLogin()"
                            >
                               تسجيل الدخول
                            </a>
                        </div>  
                    </form>
               
                </div>
            </div>
            <div 
            [hidden]="checkout"
            class="col-md-2 col-md-3"></div>
        </div>
    </div>
</section>