<footer class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div>
                   <div class="mb-4 text-center">
                        <img src="assets/footerlogo.png" alt="دراستي" class="img-fluid">
                   </div>
                    <div class="icons text-center">
                        <a 
                        aria-label="انستجرام"
                        target="_blank"
                        href="http://a7.ae/r/wU7ZW4"><i class="fa-brands fa-instagram"></i></a>
                        <span     class="mx-3"></span>
                        <a 
                        aria-label="واتساب"
                        target="_blank"
                        href="http://a7.ae/r/fNYKA7"
                       ><i class="fa-brands fa-whatsapp"></i></a>

                       <!-- 
https://www.instagram.com/drastiq8/ instgram link
                         href="https://api.whatsapp.com/send/?phone=96594181196&text&app_absent=0" whatsapp link
                        -->
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-md-4 mb-3">
                <div class="pt-4">
                    <h2 class="mb-3">تواصل معنا</h2>
                    <table>
                        <tr 
                        *ngIf="settings?.whatsapp"
                        class="pb-5">
                            <td>94181196 965+</td>
                            <td><i class="fa-brands fa-whatsapp"></i></td>
                        </tr>
                        <tr class="pb-5">
                            <td>الكويت</td>
                            <td><i class="fa-solid fa-location-dot"></i></td>
                        </tr>
                        <tr class="pb-5">
                            <td>
                                <a 
                                class="text-white"
                                routerLink="/conditions">
                                    الشروط والاحكام
                                </a>
                            </td>
                            <td><i class="fa-solid fa-file-lines"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</footer>