<section 
style="min-height: 100vh;"
class="login">
    <app-header 
    imgSrc="assets/header.png"
    ></app-header>
    <!-- end header -->
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-lg-3"></div>
            <div class="col-md-8 col-lg-6">
                <div>
                    <h2>اعادة تعيين كلمة المرور</h2>
                    <form
                    *ngIf="!verified"
                    >


                        <div class="col-lg-12 mb-3">
                            <div class="form-group ">
                                <label>رقم الهاتف</label>
                                <div class="d-flex align-items-center mb-2">
                                    <input 
                                    [formControl]="phoneControl"
                                    onKeyPress="if(this.value.length==8) return false;"
                                    min="1"
                                
                                    type="number" class="form-control phonenumberRight">
                                    <input 
                                    value="965+" readonly class="form-control phonenumberLeft">
                                </div>
                                <p 
                                *ngIf="(phoneControl?.errors!=null&&phoneControl?.touched) || 
                                (phoneControl?.errors!=null&&submitedphonecontrol)
                                "
                                class="text-danger my-2">
                                     يبدأ رقم الهاتف ب 5 و لا يقل عن ثمانية أرقام 
                                </p>
                                <p 
                                *ngIf="showsendcode"
                                style="cursor: pointer;font-size: 19px;"
                                (click)="sendOtb()"
                                class="mb-3 text-primary fw-bold">
                                    أرسال رمز التحقق 
                                    <i 
                                    *ngIf="sendotbLoading"
                                    class="fas fa-circle-notch fa-spin"></i> 
                                </p>
                                <ng-container 
                                *ngIf="showVervication"
                                >
                                    
                                    <input type="text"
                                    [formControl]="verificationControl"
                                    placeholder="أدخل الرمز هنا"
                                    class="form-control">
                                    <button
                                    style="cursor: pointer;"
                                    (click)="verifyCode()"
                                    class="mb-1  btn btn-primary my-1">
                                       أضغط هنا للتحقق 
                                       <i 
                                       *ngIf="verifyOtbLoading"
                                       class="fas fa-circle-notch fa-spin"></i> 
                                    </button>
                                    <p 
                                    *ngIf="(verificationControl?.errors!=null&&verificationControl?.touched) || 
                                    (verificationControl?.errors!=null&&submitedVerificationControl)
                                    "
                                    class="text-danger my-1">
                                        هذا الحقل مطلوب
                                    </p>
                                    <div class="mt-3">
                                        <p class="mb-1 fw-bold"
                                        style="color:green;word-wrap: break-word;"
                                        >
                                           أدخل رمز التحقق المرسل الي 
                                           {{savePhoneNumber}} 
                                           <bdi
                                           style="color:green"
                                           >965+</bdi>
                                         </p>
                                        <p 
                                        (click)="counterToEnable()"
                                        [ngStyle]="{
                                            'cursor':enable?'pointer':'no-drop'
                                        }"
                                        
                                        class="mb-1 text-primary">
                                         ({{counter}})  لم تتلقي الرمز ؟ أعد الأرسال مرة أخري
                                         <i 
                                         *ngIf="sendotbLoading"
                                         class="fas fa-circle-notch fa-spin"></i>  
                                          </p>
                                
                                    </div>
                                </ng-container>
                                
                           
                            </div>
                        </div>
                        <!--  -->

                    </form>
                    <form 
                    [formGroup]="resetPasswordForm"
                    (ngSubmit)="resetPassword(resetPasswordForm.value)"
                    *ngIf="verified"
                    >
                        <div class="form-group mb-3">
                            <label>كلمة المرور الجديدة <span class="redstar">*</span></label>
                            <input 
                            formControlName="password"
                            type="password"  class="form-control">
                            <p 
                            *ngIf="(resetPasswordForm.get('password')?.errors!=null&&resetPasswordForm.get('password')?.touched) || 
                            (resetPasswordForm.get('password')?.errors!=null&&submited)"
                            class="text-danger my-1">
                               لا يقل عن اربع حروف 
                            </p>
                        </div>
                        <div class="form-group mb-3">
                            <label>تأكيد كلمة المرور <span class="redstar">*</span></label>
                            <input
                            formControlName="password_confirmation"
                            type="password"  class="form-control">
                            <p 
                            *ngIf="(resetPasswordForm.get('password_confirmation')?.value!=resetPasswordForm.get('password')?.value&&resetPasswordForm.get('password_confirmation')?.touched) || 
                            (resetPasswordForm.get('password_confirmation')?.value!=resetPasswordForm.get('password')?.value&&submited)"
                            class="text-danger my-1">
                               كلمة المرور غير متطابقة
                            </p>
                        </div>
                        <button
                        [disabled]="resetloading"
                        class="bluButton submitinput w-100 text-center"
                        >
                             حفظ
                            <i 
                            *ngIf="resetloading"
                            class="fas fa-circle-notch fa-spin"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-2 col-md-3"></div>
        </div>
    </div>
</section>