<h2 *ngIf="!loading&&recomended?.length">نرشح لك</h2>

<swiper  
class="mrginBottom"
[config]="swpieroptions">

    <ng-container *ngFor="let class of recomended;let i = index">
        <ng-template swiperSlide>
            <div
            >

                <app-cart
                [addeddTocart]="class?.cart"
                (cartBtn)="pushCartIds($event)"
                type="subject"
                [classid]="-1"
                [speid]="-1"
                [id]="class?.id"
                [imgSrc]="class?.media"
                [name]="class?.name"
                [price]="class?.price"
                [discount]="class?.discount"
                [paid]="class?.is_paid"
                ></app-cart>
            </div>
        </ng-template>
    </ng-container>

</swiper>
<div 
*ngIf="loading"
style="
display:flex;
justify-content:center;
align-items:center;
position:fixed;
top:0;
bottom:0;
right:0;
left:0;
background:rgb(235 230 230 / 50%)
"
>
<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>