<!-- <app-header
imgSrc=""
></app-header> -->
<!-- end header image -->
<section 
style="min-height: 100vh;"
class="container mt-3">
<div 
*ngIf="offer?.length&&!loadingOffer"
class="row my-5">
    <div class="col-md-12">
        <app-loading *ngIf="loadingOffer"></app-loading>
    </div>
    <div 
    *ngFor="let item of offer"
    class=" col-md-6 col-lg-4 col-xl-3 mb-4"
    >
        <div>
            <app-cart
            (cartBtn)="pushCartIds($event)"
            type="offer"
            [id]="item?.id"
            [imgSrc]="item?.media"
            [name]="item?.name"
            [price]="item?.price"
            ></app-cart>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <app-loading *ngIf="loadingsubjects"></app-loading>
    </div>
    <ng-container *ngIf="!loadingsubjects">
        <div 
        class=" col-md-6 col-lg-4 col-xl-3 mb-4"
        *ngFor="let class of classes"
        >
            <div>
                <app-cart
                (cartBtn)="pushCartIds($event)"
                type="subject"
                [id]="class?.id"
                [imgSrc]="class?.media"
                [name]="class?.name"
                [price]="class?.price"
                ></app-cart>
            </div>
        </div>
    </ng-container>
    
    <p 
    style="font-size:20px"
    *ngIf="!loadingsubjects&&!classes?.length"
    class="text-center fw-bold text-secondary m-2">
        لا توجد بيانات
    </p>
</div>
</section>