<section style="min-height: 100vh;" class="conditions">
    <header class="p-2 blueHeader">
        <h1>
            الشروط والاحكام
        </h1>
    </header>
    <div class="container">
        <div class="bg-white rounded my-5 p-5">
            <p class="mb-5">الشروط والاحكام وضعت للحفاظ على حقوق كل من مقدمي الخدمة والعملاء.</p>
            <p>تعريف منصة دراستي:</p>
            <p>هي منصة دراسية تعليمية تلبي احتياج العملاء من خلال توفير محاضرات تعليمية عن طريق الانترنت بواسطة مدرسين
                مختصين.</p>
            <ul class="p-0 list-unstyled">
                <li>-عند التسجيل يقر المستخدم بانه قد اطلع على جميع الخدمات والبنود والشروط وانه يقر باننا منحناه الحق
                    بالاطلاع على هذه الشروط ويقر بانه يخضع لمراجعة البنود والشروط وتحديثاتها.</li>
                <li>-لاستخدام المنصة التعليمية يجب انشاء حساب خاص ويقر المستخدم بالحفاظ على المعلومات المقدمة ، ويجب
                    اخطارنا في حال اخترق الحساب</li>
                <li>-الخدمات التي تقدمها المنصة تستخدم من قبل المستخدم فقط ولايسمح له بمشاركتها او مشاركة حسابه.</li>
                <li>-يحق للمنصة التواصل مع العملاء لبيان مدى رضاهم عن الخدمات او الحصول على ملاحظات او اي استفسارات.
                </li>
            </ul>
        </div>
    </div>
</section>