<!-- <app-header
*ngIf="banner"
[text]="stagename"
[imgSrc]="banner"
></app-header> -->
<app-header
*ngIf="banner"
[imgSrc]="banner"
></app-header>
<!-- end header image -->
<section 
style="min-height: 90vh;"
class="container mt-5">
<app-loading *ngIf="loading"></app-loading>
    <div 
    *ngIf="!loading"
    class="row mt-4 justify-content-center">
        <div class="col-6 col-md-4 mb-4"
        *ngFor="let stage of stages"
        >
            <div>
                <a 
                [routerLink]="['/classes/',id,stage?.id]"
              >
                
                    <img 
                    class="img-fluid stage"
                    [src]="stage?.media" alt="دراستي"> 
               
                    <!-- {{stage?.name}} -->
                </a>
            </div>
        </div>
    </div>
    <p 
    style="font-size:20px"
    *ngIf="!loading&&!stages?.length"
    class="text-center fw-bold text-secondary m-2">
        لا توجد بيانات
    </p>
</section>