<div *ngIf="!loading" class="container">
  <h1 style="text-align: center; color: #0034c2; margin-bottom: 20px">
    جميع الرسائل
  </h1>
  <div style="font-weight: bold" *ngIf="materialChats.length === 0">
    لا توجد مواد بها رسائل بعد.
  </div>

  <div *ngFor="let mat of materialChats" class="material-item">
    <div
      [queryParams]="{ openChat: true }"
      [routerLink]="'/class-details/' + mat?.materialId + '/subject/-1/-1'"
      style="
        border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 16px;
        cursor: pointer;
        display: flex;
        gap: 10px;
      "
      class="material-name"
    >
      <img style="width: 50px" src="assets/logo.png" alt="" />
      <div>
        {{ mat.materialName }} <br />
        <span style="display: block">{{ mat.latestText }}</span>
        <span style="display: block">{{
          mat.latest | date : "d MMMM, h:mm a"
        }}</span>
      </div>
      <span class="mx-5"></span>
      <span style="color: #0034c2" *ngIf="mat.hasUnread" class="unread-dot"
        >●</span
      >
    </div>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
