<section style="min-height: 100vh;" class="conditions pb-5">
    <header class="p-2 mb-5 blueHeader">
        <h1>
            سلة المشتريات           
        </h1>
    </header>
    <div 
  
    class="container bg-white rounded  p-5">
        <div 
        *ngIf="cartItems?.length"
        class="row">
            <div class="col-lg-8 mb-4">
                <div>
                    <h4>ملخص المشتريات</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                              <tr>
                                <th>المنتج</th>
                                <th >السعر</th>
                              </tr>
                            </thead>
                            <tbody>
                                <ng-container 
                                *ngFor="let item of cartItems;let i = index"
                               
                                >
                                <tr
                                *ngIf="item?.has_material"
                                >
                                    <td 
                                    style="cursor: pointer;"
                                    >
                                        <i 
                                        (click)="deleteCartItem(item?.id,i)"
                                        class="fa-solid fa-x deleteicon" ></i>
                                       <a 
                                       class="d-inline-block"
                                       [routerLink]="['/class-details/',item?.material?.id,'subject',-1,-1]"
                                       >
                                        <img 
                                        style="width: 60px;"
                                        class="mx-3"
                                        [src]="item?.material?.media" alt="Drasti">
                                       {{item?.material?.name}}
                                       </a>
                                    </td>
                                    <td>
                                        	د.ك {{item?.material?.discount||item?.material?.price}}
                                    </td>
                                  </tr>
                                  <tr
                                  *ngIf="item?.has_offer"
                                  >
                                      <td 
                                      style="cursor: pointer;"
                                      >
                                          <i 
                                          (click)="deleteCartItem(item?.id,i)"
                                          class="fa-solid fa-x deleteicon"></i>
                                        <div class="d-inline-block">
                                            <img 
                                            style="width: 60px;"
                                            class="mx-3"
                                            [src]="item?.offer?.media" alt="Drasti">
                                           {{item?.offer?.name}} 
                                        </div>
                                        <div 
                                        class="mx-4 my-3"
                                        *ngFor="let child of item?.offer?.materials"
                                        >
                                       
                                           <a 
                                           class="d-inline-block"
                                           [routerLink]="['/class-details/',child?.id,'subject',-1,-1]"
                                           >
                                           <img 
                                           style="width: 60px;"
                                           class="mx-3"
                                           [src]="child?.media" alt="Drasti">
                                          {{child?.name}}
                                            </a>
                                        </div>
                                      </td>
                                      <td>	د.ك {{item?.offer?.discount||item?.offer?.price}}</td>
                                    </tr>
                                </ng-container>
                                
                     
                              <tr>

                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-lg-4 mb-4">
                <div>
                    <h4>اجمال سلة المشتريات</h4>
                    <div 
                    *ngIf="cartService.showCopon"
                    class="my-2 flex-md-row flex-column d-flex">
                        <input
                        [readonly]="disablecopon"
                        (input)="checkcoponinput(copon.value)"
                        #copon
                        placeholder="اضف كود الخصم"
                        type="text" class="form-control">
                        <span class="m-2"></span>
                        <button
                        (click)="verifyCopon(copon.value)"
                        [disabled]="verifyCoponLoading||checkcoponinput(copon.value)||disablecopon"
                        style="border-radius: 10px !important;"
                        class="bluButton text-center">
                            تحقق
                            <i 
                            *ngIf="verifyCoponLoading"
                            class="fas fa-circle-notch fa-spin"></i>
                        </button>
                    </div>
                    <table class="w-100  my-2">
                        <tr 
                        style="border-bottom: 1px solid #b7cde1;">
                            <th class="p-2">المجموع</th>
                            <td class="p-2">
                                د.ك  {{total|price}}
                            </td>
                        </tr>
                        <tr>
                            <th class="p-2">الاجمالي</th>
                            <td class="p-2">د.ك 
                                {{total>discount ? (total-discount|price) : '0'}}</td>
                        </tr>
                    </table>

                    <a 
                    style="border-radius: 5px"
                    routerLink="/checkout"
                    class="bluButton text-center  d-block"
                    >
                        التقدم لاتمام الطلب
                    </a>
                </div>
            </div>
            <!--  -->
        </div>
        <div class="row">
            <div class="col-md-3"></div>
  
            <div class="col-md-6 mb-4">
                <div 
                *ngIf="!loading&&!cartItems?.length"
                class="my-5 text-center">
                    <h2 class="text-center text-secondary mb-3">
                        سلة مشترياتك فارغة حاليًا.
                    </h2>
                    <a 
                    style="border-radius: 5px"
                    routerLink="/"
                    class="bluButton text-center d-inline-block"
                    >
                       العودة للمتجر
                    </a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <app-recomended
        *ngIf="cartItems?.length"
        ></app-recomended>

    </div>

</section>
<div 
*ngIf="loading"
style="
display:flex;
justify-content:center;
align-items:center;
position:fixed;
top:0;
bottom:0;
right:0;
left:0;
background:rgb(235 230 230 / 50%)
"
>
<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>