<section 
style="min-height: 100vh;"
class="login">
    <app-header 
    imgSrc="assets/header.png"
    ></app-header>
    <!-- end header -->
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-lg-3"></div>
            <div class="col-md-8 col-lg-6">
                <div>
                    <h2>تسجيل الدخول</h2>
                    <form
                    [formGroup]="loginForm"
                    (ngSubmit)="login(loginForm.value)"
                    >
                        <div class="form-group mb-3">
                            <label  for="phone">
                                رقم الهاتف <span class="redstar">*</span>
                            </label>
                            <div class="d-flex align-items-center mb-3">
                                <input 
                                onKeyPress="if(this.value.length==8) return false;"
                                formControlName="phone"
                                type="number" class="form-control phonenumberRight">
                                <input 
                                value="+965" readonly class="form-control phonenumberLeft">
                            </div>
                            <p 
                            *ngIf="(loginForm.get('phone')?.errors!=null&&loginForm.get('phone')?.touched) || 
                            (loginForm.get('phone')?.errors!=null&&submited)"
                            class="text-danger my-2">
                            يبدأ رقم الهاتف ب 5 و لا يقل عن ثمانية أرقام
                            </p>
                        </div>
                        <!--  -->
                        <div class="form-group mb-3">
                            <label for="password">
                                كلمة المرور <span class="redstar">*</span>
                            </label>
                            <input 
                            formControlName="password"
                            id="password" type="password" class="form-control">
                            <p 
                            *ngIf="(loginForm.get('password')?.errors!=null&&loginForm.get('password')?.touched) || 
                            (loginForm.get('password')?.errors!=null&&submited)"
                            class="text-danger my-1">
                                هذا الحقل مطلوب
                            </p>
                        </div>
                        <!--  -->
                        <div class="form-group mb-3">
                            <button
                            [disabled]="loginloading"
                            class="bluButton submitinput w-100 text-center"
                            >
                                تسجيل الدخول
                                <i 
                                *ngIf="loginloading"
                                class="fas fa-circle-notch fa-spin"></i>
                            </button>
                            <div class="my-1">
                                <a 
                                style="text-decoration: underline;"
                                class="text-primary"
                                routerLink="/auth/reset-password">
                                   هل نسيت كلمة المرور ؟
                                </a>
                            </div>   
                            <!-- <span class="mx-2"></span> -->
                            <!--  -->
                            <!-- <input id='rememberme' type="checkbox">
                            <label class="mx-1" for="rememberme">تزكرني</label><br> -->
                        </div>
                        <!--  -->
                        <div class="form-group">
                            <button
                            type="button"
                            routerLink="/auth/register"
                            class="bluButton submitinput w-100 text-center"
                            >
                            أنشاء حساب 
                            </button>
                        </div>
                        <!-- <div class="form-group">
                            <input 
                            (click)="returnPassword=true"
                            *ngIf="!returnPassword"
                            type="button" value="استعادة كلمة المرور" class="bluButton submitinput d-block">
                            <ng-container *ngIf="returnPassword">
                                <label>رقم الهاتف</label>
                                <div class="d-flex align-items-center mb-3">
                                    <input 
                                    onKeyPress="if(this.value.length==8) return false;"
                                    [formControl]="resetPasswordControl"
                                    type="number" class="form-control phonenumberRight">
                                    <input 
                                    value="+965" readonly class="form-control phonenumberLeft">
                                </div>
                                <p 
                                *ngIf="resetPasswordControl?.errors!=null&&resetPasswordControl?.touched"
                                class="text-danger my-2">
                                   لا يقل عن ثمانية أرقام
                                </p>
                                <button 
                                [disabled]="resetPasswordLoading"
                                (click)="resetPassword()"
                                type="button" class="bluButton submitinput d-block mb-3">
                                        ارسال كلمة المرور الجديدة
                                        <i 
                                        *ngIf="resetPasswordLoading"
                                        class="fas fa-circle-notch fa-spin"></i>
                                </button>
                            </ng-container>  
                            <div class="my-1">
                                <a 
                                style="text-decoration: underline;"
                                class="text-primary"
                                routerLink="/auth/register">
                                    أنشاء حساب
                                </a>
                            </div>                        
                        </div> -->
                    </form>
                </div>
            </div>
            <div class="col-md-2 col-md-3"></div>
        </div>
    </div>
</section>